<div class="container">
    <div class="row">
        <div id="accordion" class="col-12 my-3">
            <div class="card">
                <div class="card-header border-0 bg-white" id="headingSearch">

                    <button class="btn btn-info  btn-sm fa fa-filter" data-toggle="collapse" data-target="#search"
                            aria-expanded="true" aria-controls="search">
                        <h5 class="float-right">Search Forms</h5>
                    </button>

                </div>

                <div id="search" class="collapse" aria-labelledby="headingSearch" data-parent="#accordion">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="form-row">

                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">id</small>
                                        <input type="text" class="form-control col-12" placeholder="id"
                                               [(ngModel)]="categoryProduitSearch.id">
                                    </div>
                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">label</small>
                                        <input type="text" class="form-control col-12" placeholder="label"
                                               [(ngModel)]="categoryProduitSearch.label">
                                    </div>
                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">imagePath</small>
                                        <input type="text" class="form-control col-12" placeholder="imagePath"
                                               [(ngModel)]="categoryProduitSearch.imagePath">
                                    </div>
                                    <div class="input-group  col-4 my-2">
                                        <small class="text-muted col-12">superCategoryProduct</small>
                                        <select class="form-control col-12"
                                                [(ngModel)]="categoryProduitSearch.superCategoryProductVo">
                                            <option *ngFor="let p of superCategoryProducts"
                                                    [ngValue]="p">{{p.label}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-info btn-sm fa fa-search float-right px-5 py-2 my-4"
                                    (click)="findCategoryProduit(categoryProduitSearch)"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-12">
            <div class="card-header bg-transparent">
                <div class="float-left px-1"><h5>List of categoryProduits. </h5></div>

                <button class="btn btn-success btn-sm fa fa-plus float-right" (click)="createShow()"> Create a new
                    categoryProduit
                </button>

            </div>
            <div class="card-body table-responsive">

                <table class="table table-hover col-md-12">
                    <thead class="thead-dark">

                    <th>id</th>
                    <th>label</th>
                    <th>imagePath</th>
                    <th>superCategoryProduct reference</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p of categoryProduitListe">

                        <td>{{p.id}}</td>
                        <td>{{p.label}}</td>
                        <td>{{p.imagePath}}</td>
                        <td>{{p.superCategoryProductVo?.label}}</td>


                        <td>
                            <button class="btn btn-danger btn-sm fa fa-trash mx-md-1" (click)="delete(p)"></button>
                            <button class="btn btn-warning btn-sm fa fa-external-link mx-md-1"
                                    (click)="detailShow(p)"></button>
                            <button class="btn btn-info btn-sm fa fa-pencil mx-md-1" (click)="editShow(p)"></button>


                        </td>

                    </tr>
                    <app-categoryProduit-edit *ngIf="categoryProduitShowEdit"></app-categoryProduit-edit>
                    <app-categoryProduit-create *ngIf="categoryProduitShowCreate"></app-categoryProduit-create>
                    <app-categoryProduit-details *ngIf="categoryProduitShowDetail"></app-categoryProduit-details>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
