<div class="modal" tabindex="-1" role="dialog" style="display: block;background-color: #000000bf;">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">details of OrderStatus </h5>
                <button type="button" class="close" aria-label="Close" (click)="detailHide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <th>Field</th>
                    <th>Value</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>id</td>
                        <td>{{orderStatusDetail.id}} </td>
                    </tr>
                    <tr>
                        <td>code</td>
                        <td>{{orderStatusDetail.code}} </td>
                    </tr>
                    <tr>
                        <td>label</td>
                        <td>{{orderStatusDetail.label}} </td>
                    </tr>
                    <tr>
                        <td>color</td>
                        <td>{{orderStatusDetail.color }} </td>
                    </tr>
                    <tr>
                        <td>superOrderStatus</td>
                        <td>{{orderStatusDetail.superOrderStatusVo.code}} </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
