<div class="modal" tabindex="-1" role="dialog" style="display: block;background-color: #000000bf;">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">details of Product </h5>
                <button type="button" class="close" aria-label="Close" (click)="detailHide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <th>Field</th>
                    <th>Value</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>id</td>
                        <td>{{productDetail.id}} </td>
                    </tr>
                    <tr>
                        <td>price</td>
                        <td>{{productDetail.price}} </td>
                    </tr>
                    <tr>
                        <td>reference</td>
                        <td>{{productDetail.reference}} </td>
                    </tr>
                    <tr>
                        <td>label</td>
                        <td>{{productDetail.label }} </td>
                    </tr>
                    <tr>
                        <td>categoryProduit</td>
                        <td>{{productDetail.categoryProduitVo.label}} </td>
                    </tr>
                    <tr>
                        <td>imagePath</td>
                        <td>{{productDetail.imagePath}} </td>
                    </tr>
                    <tr>
                        <td>mesureUnit</td>
                        <td>{{productDetail.mesureUnitVo.label}} </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
