<div class="modal" tabindex="-1" role="dialog" style="display: block;background-color: #000000bf;">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">details of OrderLine </h5>
                <button type="button" class="close" aria-label="Close" (click)="detailHide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <th>Field</th>
                    <th>Value</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>id</td>
                        <td>{{orderLineDetail.id}} </td>
                    </tr>
                    <tr>
                        <td>price</td>
                        <td>{{orderLineDetail.price}} </td>
                    </tr>
                    <tr>
                        <td>orderedQte</td>
                        <td>{{orderLineDetail.orderedQte}} </td>
                    </tr>
                    <tr>
                        <td>preparedQte</td>
                        <td>{{orderLineDetail.preparedQte}} </td>
                    </tr>
                    <tr>
                        <td>sentQte</td>
                        <td>{{orderLineDetail.sentQte}} </td>
                    </tr>
                    <tr>
                        <td>deliveredQte</td>
                    </tr>
                    <tr>
                        <td>description</td>
                        <td>{{orderLineDetail.description}} </td>
                    </tr>
                    <tr>
                        <td>orderStatus</td>
                        <td>{{orderLineDetail.orderStatusVo.code}} </td>
                    </tr>
                    <tr>
                        <td>rejectionReason</td>
                        <td>{{orderLineDetail.rejectionReason}} </td>
                    </tr>
                    <tr>
                        <td>command</td>
                        <td>{{orderLineDetail.commandVo.reference}} </td>
                    </tr>
                    <tr>
                        <td>longitudeCollaborator</td>
                        <td>{{orderLineDetail.longitudeCollaborator}} </td>
                    </tr>
                    <tr>
                        <td>latitudeCollaborator</td>
                        <td>{{orderLineDetail.latitudeCollaborator}} </td>
                    </tr>
                    <tr>
                        <td>collaborator</td>
                        <td>{{orderLineDetail.collaboratorVo.id}} </td>
                    </tr>
                    <tr>
                        <td>deliveryMan</td>
                        <td>{{orderLineDetail.deliveryManVo.id}} </td>
                    </tr>
                    <tr>
                        <td>dateSubmissionToCollaborator</td>
                        <td>{{orderLineDetail.dateSubmissionToCollaborator}} </td>
                    </tr>
                    <tr>
                        <td>dateAcceptationCollaborator</td>
                        <td>{{orderLineDetail.dateAcceptationCollaborator}} </td>
                    </tr>
                    <tr>
                        <td>datePreparationCollaborator</td>
                        <td>{{orderLineDetail.datePreparationCollaborator}} </td>
                    </tr>
                    <tr>
                        <td>dateRecuperationDelivery</td>
                        <td>{{orderLineDetail.dateRecuperationDelivery}} </td>
                    </tr>
                    <tr>
                        <td>dateDelivery</td>
                        <td>{{orderLineDetail.dateDelivery}} </td>
                    </tr>
                    <tr>
                        <td>dateSubmissionDelivery</td>
                        <td>{{orderLineDetail.dateSubmissionDelivery}} </td>
                    </tr>
                    <tr>
                        <td>dateAcceptationDelivery</td>
                        <td>{{orderLineDetail.dateAcceptationDelivery}} </td>
                    </tr>
                    <tr>
                        <td>dateRejectionCllaborator</td>
                        <td>{{orderLineDetail.dateRejectionCllaborator}} </td>
                    </tr>
                    <tr>
                        <td>dateRejectionDelivery</td>
                        <td>{{orderLineDetail.dateRejectionDelivery}} </td>
                    </tr>
                    <tr>
                        <td>product</td>
                        <td>{{orderLineDetail.productVo.reference}} </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
