<app-rating></app-rating>
<div class="card col-md-8 mx-auto  p-md-2">
    <div class="card-header text-center font-weight-bold">Create Ratings</div>
    <div class="card-body">

        <div class="row py-2">
            <label>comment</label>
            <input type="text" class="form-control" [(ngModel)]="rating.comment">
        </div>
        <div class="row py-2">
            <label>mark</label>
            <input type="text" class="form-control" [(ngModel)]="rating.mark">
        </div>

        <div class="row">
            <label>client</label>
            <select class="form-control" [(ngModel)]="rating.clientVo.id">
                <option *ngFor="let p of clients" [ngValue]="p.id" value="{{p.id}}">{{p.id}}</option>
            </select>
        </div>
        <div class="row">
            <label>orderLine</label>
            <select class="form-control" [(ngModel)]="rating.orderLineVo.id">
                <option *ngFor="let p of orderLines" [ngValue]="p.id" value="{{p.id}}">{{p.id}}</option>
            </select>
        </div>
        <div class="row">
            <label>collaborator</label>
            <select class="form-control" [(ngModel)]="rating.collaboratorVo.id">
                <option *ngFor="let p of collaborators" [ngValue]="p.id" value="{{p.id}}">{{p.id}}</option>
            </select>
        </div>
        <div class="modal-footer">
            <button class="form-control" (click)="saveRating()">Save</button>
        </div>
    </div>
</div>
